<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
</head>
<body>
    <h1>Chatbot</h1>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    {% if model_response %}
        {% if model_response.message %}
            <p>{{ model_response.message }}</p>
        {% endif %}
        
        {% if model_response.candidates %}
            <p>Matching candidates:</p>
            <ul>
                {% for candidate in model_response.candidates %}
                    <li>{{ candidate.EmpID }} - {{ candidate.Name }} - {{ candidate.Skill }} - {{ candidate.Location }} - {{ candidate.Experience }}- {{ candidate.Skill_Similarity }} </li>
                    <!-- Display other candidate information as needed -->
                {% endfor %}
            </ul>
        {% else %}
            <p>No matching candidates found.</p>
        {% endif %}
    {% endif %}
</body>
</html>